{{>header}}
<h3>SSO登录</h3>
<form method="post">
    Name:<input type="text" name="name" value="admin"><br>
    Password:<input type="text" name="password" value="123456"><br>
    <input type="submit" value="Login">
</form>