{{>header}}

<form method="post">
    Title:<br>
    <input type="text" name="title"><br>

    Content:<br>
    <textarea name="content" id="" cols="30" rows="10"></textarea><br>

    <input type="submit" value="Post">
</form>