<nav>
    {{#if user}}
        <div style="float:right;">
            Hello,{{user}} | <a href="/logout">Logout</a>
        </div>
    {{/if}}

    <a href="/">Home</a>

    {{#if user}}
        | <a href="/post">Post</a>
    {{else}}
        | <a href="/login">Login</a>
    {{/if}}

</nav>